body{
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}
.navs{
    color: #fff;
}
.section-1{
    color:green;
    
    
}
.section-1 p{
    color: #ffffff5b;
    line-height: 30px;
}
.mypic{
   padding: 5px;
}
.cv{
    margin-left: 10px;
    padding-left: 18px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    
}
.cv:hover{
    background-color:#1a1818;
    
}
.abt-h1{
   text-align: center;
   margin-top: 230px;
}
.pic2{
    padding: 5px;
}
.abt{
    color: antiquewhite;
    line-height: 50px;
}
.edu-h1{
    text-align: center;
    margin-top: 20px;
}
.sslc{
    border:1px solid gray;
    background-color: #0c0b0b;
    margin-top: 20px;
}
.p1{
    font-size: 25px;
    font-weight: 500;
    color:antiquewhite;
    text-align: center;
    padding-top:5px;
}
.p2{
    color:aliceblue;
    text-align: center;
}
.plustwo{
    border: 1px solid gray;
    background-color: #0c0b0b;
    margin-top: 20px;
}
.p3{
   font-size: 25px;
    font-weight: 500;
    color:antiquewhite;
    text-align: center;
    padding-top:5px; 
}
.p4{
     color:aliceblue;
    text-align: center;
}
.degree{
    border: 1px solid gray;
    background-color: #0c0b0b;
    margin-top: 20px;
}
.p5{
    font-size: 25px;
    font-weight: 500;
    color:antiquewhite;
    text-align: center;
    padding-top:5px; 
}
.p6{
     color:aliceblue;
    text-align: center;
}
.skill{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    
}
.contact-form {
    background-color: rgba(10, 8, 8, 0.5);
    padding: 20px;
    border-radius: 10px;
}
form{
     display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.col {
    width: 48%;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #aaa;
    color: #fff;
}

textarea {
    height: 100px;
    resize: none;
}

.send-btn {
    /* background-color: #4CAF50; */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.send-btn:hover {
    color: #0c0b0b;
    /* background-color: #fff; */
}
.footer{
    border: 1px solid gray;
    background-color: #0c0b0b;
    padding: 5px;
}
.details{
    text-align: center;
}
